Datascience Group Project

In [20]:
# The source from which all knowledge comes:

# Labour force characteristics, annual
# https://open.canada.ca/data/en/dataset/621006f5-bc1b-4893-be77-ac5a6de35f0a
gov_site = 'https://www150.statcan.gc.ca/n1/tbl/csv/14100391-eng.zip'


# Labour force characteristics by sex and detailed age group, monthly, unadjusted for seasonality
# https://open.canada.ca/data/en/dataset/17b836c1-e7ec-48b9-b7a3-f370f1006975
gov_site_2= "https://www150.statcan.gc.ca/n1/tbl/csv/14100017-eng.zip"

In [22]:
# Run This if you want to download and extract the data 
import zipfile, io
import requests
import warnings
warnings.filterwarnings("ignore")

# This is for the annual characteristics
r = requests.get(gov_site, verify=False, )
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall("./rawcsv")

r = requests.get(gov_site_2, verify=False, )
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall("./rawcsv_sex_age")

In [9]:
# # This only needs to be done if we want to download the zipped file (uncomment if you want to experiment)
# # https://requests.readthedocs.io/en/master/user/quickstart/#raw-response-content
# # Download the raw csv zipped
# with open("rawzippedcsv.zip", 'wb') as fd:
#     for chunk in r.iter_content(chunk_size=128):
#         fd.write(chunk)

## Step two read the csv file into pandas

In [26]:
import pandas as pd
import numpy as np

employment_data = pd.read_csv('./rawcsv/14100391.csv', sep=',')


employment_data.head()

,REF_DATE,GEO,DGUID,Labour force characteristics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,"Corner Brook, Newfoundland and Labrador",2016S0504015,Population,Persons,249,thousands,3,v1235071748,1.1,26.3,NaN,NaN,NaN,1
1,2006,"Corner Brook, Newfoundland and Labrador",2016S0504015,Labour force,Persons,249,thousands,3,v1235071749,1.2,16.9,NaN,NaN,NaN,1
2,2006,"Corner Brook, Newfoundland and Labrador",2016S0504015,Employment,Persons,249,thousands,3,v1235071750,1.3,14.5,NaN,NaN,NaN,1
3,2006,"Corner Brook, Newfoundland and Labrador",2016S0504015,Unemployment,Persons,249,thousands,3,v1235071751,1.4,2.4,NaN,NaN,NaN,1
4,2006,"Corner Brook, Newfoundland and Labrador",2016S0504015,Not in labour force,Persons,249,thousands,3,v1235071752,1.5,9.4,NaN,NaN,NaN,1

In [27]:
employment_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3480 entries, 0 to 3479
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   REF_DATE                      3480 non-null   int64
 1   GEO                           3480 non-null   object
 2   DGUID                         3360 non-null   object
 3   Labour force characteristics  3480 non-null   object
 4   UOM                           3480 non-null   object
 5   UOM_ID                        3480 non-null   int64
 6   SCALAR_FACTOR                 3480 non-null   object
 7   SCALAR_ID                     3480 non-null   int64
 8   VECTOR                        3480 non-null   object
 9   COORDINATE                    3480 non-null   float64
 10  VALUE                         3434 non-null   float64
 11  STATUS                        46 non-null     object
 12  SYMBOL                        0 non-null      float64
 13  TERMINATED                    0 non-null      float64
 14  DECIMALS                      3480 non-null   int64
dtypes: float64(4), int64(4), object(7)
memory usage: 407.9+ KB

In [28]:
employment_data['REF_DATE'].unique()

array([2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020])

In [29]:
employment_data['Labour force characteristics'].unique()

array(['Population', 'Labour force', 'Employment', 'Unemployment',
       'Not in labour force', 'Unemployment rate', 'Participation rate',
       'Employment rate'], dtype=object)

## Sex and age breakdow

In [30]:
employment_data_sex_age = pd.read_csv('./rawcsv_sex_age/14100017.csv', sep=',')


employment_data_sex_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3934920 entries, 0 to 3934919
Data columns (total 17 columns):
 #   Column                        Dtype
---  ------                        -----
 0   REF_DATE                      object
 1   GEO                           object
 2   DGUID                         object
 3   Labour force characteristics  object
 4   Sex                           object
 5   Age group                     object
 6   UOM                           object
 7   UOM_ID                        int64
 8   SCALAR_FACTOR                 object
 9   SCALAR_ID                     int64
 10  VECTOR                        object
 11  COORDINATE                    object
 12  VALUE                         float64
 13  STATUS                        object
 14  SYMBOL                        float64
 15  TERMINATED                    float64
 16  DECIMALS                      int64
dtypes: float64(3), int64(3), object(11)
memory usage: 510.4+ MB

In [31]:
employment_data_sex_age.head()

,REF_DATE,GEO,DGUID,Labour force characteristics,Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1976-01,Canada,2016A000011124,Population,Both sexes,15 years and over,Persons,249,thousands,3,v2091030,1.1.1.1,16852.4,NaN,NaN,NaN,1
1,1976-01,Canada,2016A000011124,Population,Both sexes,15 to 24 years,Persons,249,thousands,3,v2091031,1.1.1.2,4509.9,NaN,NaN,NaN,1
2,1976-01,Canada,2016A000011124,Population,Both sexes,25 years and over,Persons,249,thousands,3,v2091032,1.1.1.3,12342.5,NaN,NaN,NaN,1
3,1976-01,Canada,2016A000011124,Population,Both sexes,25 to 44 years,Persons,249,thousands,3,v2091033,1.1.1.4,6162.4,NaN,NaN,NaN,1
4,1976-01,Canada,2016A000011124,Population,Both sexes,45 to 64 years,Persons,249,thousands,3,v19650582,1.1.1.22,4343.6,NaN,NaN,NaN,1