# Datascience Group Project

In [20]:
# The source from which all knowledge comes:

# Labour force characteristics, annual
# https://open.canada.ca/data/en/dataset/621006f5-bc1b-4893-be77-ac5a6de35f0a
gov_site = 'https://www150.statcan.gc.ca/n1/tbl/csv/14100391-eng.zip'


# Labour force characteristics by sex and detailed age group, monthly, unadjusted for seasonality
# https://open.canada.ca/data/en/dataset/17b836c1-e7ec-48b9-b7a3-f370f1006975
gov_site_2= "https://www150.statcan.gc.ca/n1/tbl/csv/14100017-eng.zip"

In [22]:
# Run This if you want to download and extract the data 
import zipfile, io
import requests
import warnings
warnings.filterwarnings("ignore")

# This is for the annual characteristics
r = requests.get(gov_site, verify=False, )
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall("./rawcsv")

r = requests.get(gov_site_2, verify=False, )
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall("./rawcsv_sex_age")

In [9]:
# # This only needs to be done if we want to download the zipped file (uncomment if you want to experiment)
# # https://requests.readthedocs.io/en/master/user/quickstart/#raw-response-content
# # Download the raw csv zipped
# with open("rawzippedcsv.zip", 'wb') as fd:
#     for chunk in r.iter_content(chunk_size=128):
#         fd.write(chunk)

## Step two read the csv file into pandas

In [1]:
import pandas as pd
import numpy as np

employment_data = pd.read_csv('./rawcsv/14100391.csv', sep=',')

employment_data.head(10)

,REF_DATE,GEO,DGUID,Labour force characteristics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2006,"Corner Brook, Newfoundland and Labrador",2016S0504015,Population,Persons,249,thousands,3,v1235071748,1.1,26.3,NaN,NaN,NaN,1
1,2006,"Corner Brook, Newfoundland and Labrador",2016S0504015,Labour force,Persons,249,thousands,3,v1235071749,1.2,16.9,NaN,NaN,NaN,1
2,2006,"Corner Brook, Newfoundland and Labrador",2016S0504015,Employment,Persons,249,thousands,3,v1235071750,1.3,14.5,NaN,NaN,NaN,1
3,2006,"Corner Brook, Newfoundland and Labrador",2016S0504015,Unemployment,Persons,249,thousands,3,v1235071751,1.4,2.4,NaN,NaN,NaN,1
4,2006,"Corner Brook, Newfoundland and Labrador",2016S0504015,Not in labour force,Persons,249,thousands,3,v1235071752,1.5,9.4,NaN,NaN,NaN,1
5,2006,"Corner Brook, Newfoundland and Labrador",2016S0504015,Unemployment rate,Percentage,242,units,0,v1235071753,1.6,14.2,NaN,NaN,NaN,1
6,2006,"Corner Brook, Newfoundland and Labrador",2016S0504015,Participation rate,Percentage,242,units,0,v1235071754,1.7,64.3,NaN,NaN,NaN,1
7,2006,"Corner Brook, Newfoundland and Labrador",2016S0504015,Employment rate,Percentage,242,units,0,v1235071755,1.8,55.1,NaN,NaN,NaN,1
8,2006,"Charlottetown, Prince Edward Island",2016S0504105,Population,Persons,249,thousands,3,v1235071756,2.1,50.2,NaN,NaN,NaN,1
9,2006,"Charlottetown, Prince Edward Island",2016S0504105,Labour force,Persons,249,thousands,3,v1235071757,2.2,35.4,NaN,NaN,NaN,1

In [2]:
employment_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3480 entries, 0 to 3479
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   REF_DATE                      3480 non-null   int64
 1   GEO                           3480 non-null   object
 2   DGUID                         3360 non-null   object
 3   Labour force characteristics  3480 non-null   object
 4   UOM                           3480 non-null   object
 5   UOM_ID                        3480 non-null   int64
 6   SCALAR_FACTOR                 3480 non-null   object
 7   SCALAR_ID                     3480 non-null   int64
 8   VECTOR                        3480 non-null   object
 9   COORDINATE                    3480 non-null   float64
 10  VALUE                         3434 non-null   float64
 11  STATUS                        46 non-null     object
 12  SYMBOL                        0 non-null      float64
 13  TERMINATED                    0 non-null      float64
 14  DECIMALS                      3480 non-null   int64
dtypes: float64(4), int64(4), object(7)
memory usage: 407.9+ KB

In [3]:
employment_data['REF_DATE'].unique()

array([2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020])

In [4]:
employment_data['Labour force characteristics'].unique()

array(['Population', 'Labour force', 'Employment', 'Unemployment',
       'Not in labour force', 'Unemployment rate', 'Participation rate',
       'Employment rate'], dtype=object)

## Sex and age breakdow

In [5]:
employment_data_sex_age = pd.read_csv('./rawcsv_sex_age/14100017.csv', sep=',')


employment_data_sex_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3934920 entries, 0 to 3934919
Data columns (total 17 columns):
 #   Column                        Dtype
---  ------                        -----
 0   REF_DATE                      object
 1   GEO                           object
 2   DGUID                         object
 3   Labour force characteristics  object
 4   Sex                           object
 5   Age group                     object
 6   UOM                           object
 7   UOM_ID                        int64
 8   SCALAR_FACTOR                 object
 9   SCALAR_ID                     int64
 10  VECTOR                        object
 11  COORDINATE                    object
 12  VALUE                         float64
 13  STATUS                        object
 14  SYMBOL                        float64
 15  TERMINATED                    float64
 16  DECIMALS                      int64
dtypes: float64(3), int64(3), object(11)
memory usage: 510.4+ MB

In [6]:
employment_data_sex_age.head()

,REF_DATE,GEO,DGUID,Labour force characteristics,Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1976-01,Canada,2016A000011124,Population,Both sexes,15 years and over,Persons,249,thousands,3,v2091030,1.1.1.1,16852.4,NaN,NaN,NaN,1
1,1976-01,Canada,2016A000011124,Population,Both sexes,15 to 24 years,Persons,249,thousands,3,v2091031,1.1.1.2,4509.9,NaN,NaN,NaN,1
2,1976-01,Canada,2016A000011124,Population,Both sexes,25 years and over,Persons,249,thousands,3,v2091032,1.1.1.3,12342.5,NaN,NaN,NaN,1
3,1976-01,Canada,2016A000011124,Population,Both sexes,25 to 44 years,Persons,249,thousands,3,v2091033,1.1.1.4,6162.4,NaN,NaN,NaN,1
4,1976-01,Canada,2016A000011124,Population,Both sexes,45 to 64 years,Persons,249,thousands,3,v19650582,1.1.1.22,4343.6,NaN,NaN,NaN,1

In [7]:
employment_data_sex_age['GEO'].unique()

array(['Canada', 'Newfoundland and Labrador', 'Prince Edward Island',
       'Nova Scotia', 'New Brunswick', 'Quebec', 'Ontario', 'Manitoba',
       'Saskatchewan', 'Alberta', 'British Columbia'], dtype=object)

In [8]:
employment_data_sex_age['Labour force characteristics'].unique()

array(['Population', 'Labour force', 'Employment', 'Full-time employment',
       'Part-time employment', 'Unemployment', 'Not in labour force',
       'Unemployment rate', 'Participation rate', 'Employment rate'],
      dtype=object)

## Task 1

Unpack the data of employment_data_sex_age so that `Labour force characteristics` are column headers

## Task 2

Try and get this code from github.

## Task 3 

use seaborn to make some rough plots

- unemployment % male, female, (other?) graph as a function of time
- graph of unemployment as a function of time for provinces
- unemployment by industry male female

Data processing notes:
- Add unitis to the column names so we know what are %'s and what are 'thousands of people'

Mention confounding factors (Jon believes industry is a big one) Confounding factors and how we deal with them will be pretty critical.

# Processing the data

## Processing the geographic data.

Using the employment dataframe, we want to generate a new table with following colums
'Ref_Date', 'GEO', 'Population', 'Labour force', 'Employment', 'Unemployment',
       'Not in labour force', 'Unemployment rate', 'Participation rate',
       'Employment rate'
       
The field in the table will be 'value'

In [9]:
# Make sure the scale factor doesn't change
employment_data['SCALAR_FACTOR'].unique()

array(['thousands', 'units'], dtype=object)

In [10]:
#Make a slice the dataframe to the 3 columns of interes
simple_employment_data=employment_data[['REF_DATE','GEO','Labour force characteristics','VALUE']]

In [14]:
# Pivoting the table kept giving and error, turns out we needed two keys to be able to pivot the data.
simple_employment_data[simple_employment_data['GEO']=='Corner Brook, Newfoundland and Labrador'].count()

REF_DATE                        120
GEO                             120
Labour force characteristics    120
VALUE                           120
dtype: int64

In [15]:
simple_employment_data.pivot(index=['REF_DATE','GEO'], columns='Labour force characteristics', values='VALUE')

Labour force characteristics                  Employment  Employment rate  \
REF_DATE GEO
2006     Bathurst, New Brunswick                    12.9             46.6
         Brandon, Manitoba                          26.9             63.3
         Cape Breton, Nova Scotia                   41.9             46.6
         Charlottetown, Prince Edward Island        32.7             65.1
         Chatham-Kent, Ontario                      57.7             63.6
...                                                  ...              ...
2020     Sault Ste. Marie, Ontario                  37.9             56.2
         Summerside, Prince Edward Island            8.1             53.6
         Timmins, Ontario                           24.0             63.5
         Truro, Nova Scotia                         20.7             52.5
         Wood Buffalo, Alberta                      44.0             73.2

Labour force characteristics                  Labour force  \
REF_DATE GEO
2006     Bathurst, New Brunswick                      14.8
         Brandon, Manitoba                            28.3
         Cape Breton, Nova Scotia                     48.3
         Charlottetown, Prince Edward Island          35.4
         Chatham-Kent, Ontario                        62.5
...                                                    ...
2020     Sault Ste. Marie, Ontario                    41.0
         Summerside, Prince Edward Island              8.9
         Timmins, Ontario                             25.4
         Truro, Nova Scotia                           22.7
         Wood Buffalo, Alberta                        48.1

Labour force characteristics                  Not in labour force  \
REF_DATE GEO
2006     Bathurst, New Brunswick                             12.9
         Brandon, Manitoba                                   14.2
         Cape Breton, Nova Scotia                            41.7
         Charlottetown, Prince Edward Island                 14.9
         Chatham-Kent, Ontario                               28.2
...                                                           ...
2020     Sault Ste. Marie, Ontario                           26.3
         Summerside, Prince Edward Island                     6.1
         Timmins, Ontario                                    12.4
         Truro, Nova Scotia                                  16.7
         Wood Buffalo, Alberta                               12.0

Labour force characteristics                  Participation rate  Population  \
REF_DATE GEO
2006     Bathurst, New Brunswick                            53.4        27.7
         Brandon, Manitoba                                  66.6        42.5
         Cape Breton, Nova Scotia                           53.7        90.0
         Charlottetown, Prince Edward Island                70.5        50.2
         Chatham-Kent, Ontario                              68.9        90.7
...                                                          ...         ...
2020     Sault Ste. Marie, Ontario                          60.8        67.4
         Summerside, Prince Edward Island                   58.9        15.1
         Timmins, Ontario                                   67.2        37.8
         Truro, Nova Scotia                                 57.6        39.4
         Wood Buffalo, Alberta                              80.0        60.1

Labour force characteristics                  Unemployment  Unemployment rate
REF_DATE GEO
2006     Bathurst, New Brunswick                       1.8               12.2
         Brandon, Manitoba                             1.4                4.9
         Cape Breton, Nova Scotia                      6.4               13.3
         Charlottetown, Prince Edward Island           2.7                7.6
         Chatham-Kent, Ontario                         4.8                7.7
...                                                    ...                ...
2020     Sault Ste. Marie, Ontario                     3.2                7.8
         Summerside, Prince Edward Island              0.9               10.1
         Timmins, Ontario                              NaN                NaN
         Truro, Nova Scotia                            1.9                8.4
         Wood Buffalo, Alberta                         4.1                8.5

[435 rows x 8 columns]

## Processing the age and sex data

This will be messier, I beleive that pivoting will require multiple keys.  These keys are:
- REF_DATE
- GEO (I believe the DGUID is redundant to this)
- Labour force characteristics
- Sex
- Age group

The value of interest will be the `VALUE` collumn.  The units of these values depend entirely on the `Labour force characteristics` column.

In [18]:
simple_employment_data_age_sex=employment_data_sex_age[['REF_DATE','GEO','Labour force characteristics','Sex','Age group','VALUE']]

In [19]:
simple_employment_data_age_sex.pivot(index=['REF_DATE','GEO','Sex','Age group'], columns='Labour force characteristics', values='VALUE')

Labour force characteristics                        Employment  \
REF_DATE GEO          Sex        Age group
1976-01  Alberta      Both sexes 15 to 19 years           85.1
                                 15 to 24 years          212.3
                                 15 to 64 years          771.0
                                 15 years and over       787.8
                                 20 to 24 years          127.2
...                                                        ...
2021-02  Saskatchewan Males      55 years and over        69.8
                                 60 to 64 years           20.9
                                 65 to 69 years            9.7
                                 65 years and over        20.0
                                 70 years and over        10.3

Labour force characteristics                        Employment rate  \
REF_DATE GEO          Sex        Age group
1976-01  Alberta      Both sexes 15 to 19 years                46.4
                                 15 to 24 years                58.6
                                 15 to 64 years                66.8
                                 15 years and over             61.7
                                 20 to 24 years                71.1
...                                                             ...
2021-02  Saskatchewan Males      55 years and over             44.2
                                 60 to 64 years                58.1
                                 65 to 69 years                31.6
                                 65 years and over             23.4
                                 70 years and over             18.8

Labour force characteristics                        Full-time employment  \
REF_DATE GEO          Sex        Age group
1976-01  Alberta      Both sexes 15 to 19 years                     41.8
                                 15 to 24 years                    152.3
                                 15 to 64 years                    642.7
                                 15 years and over                 653.3
                                 20 to 24 years                    110.5
...                                                                  ...
2021-02  Saskatchewan Males      55 years and over                  57.2
                                 60 to 64 years                     18.5
                                 65 to 69 years                      6.3
                                 65 years and over                  12.4
                                 70 years and over                   6.1

Labour force characteristics                        Labour force  \
REF_DATE GEO          Sex        Age group
1976-01  Alberta      Both sexes 15 to 19 years             99.3
                                 15 to 24 years            236.8
                                 15 to 64 years            815.3
                                 15 years and over         832.0
                                 20 to 24 years            137.6
...                                                          ...
2021-02  Saskatchewan Males      55 years and over          73.7
                                 60 to 64 years             23.3
                                 65 to 69 years             10.2
                                 65 years and over          20.9
                                 70 years and over          10.7

Labour force characteristics                        Not in labour force  \
REF_DATE GEO          Sex        Age group
1976-01  Alberta      Both sexes 15 to 19 years                    84.2
                                 15 to 24 years                   125.5
                                 15 to 64 years                   339.5
                                 15 years and over                444.7
                                 20 to 24 years                    41.3
...                                                                 ...
2021-02  Saskatchewan Males      55 years and over                 84.1
                                 60 to 64 years                    12.8
                                 65 to 69 years                    20.5
                                 65 years and over                 64.7
                                 70 years and over                 44.1

Labour force characteristics                        Part-time employment  \
REF_DATE GEO          Sex        Age group
1976-01  Alberta      Both sexes 15 to 19 years                     43.3
                                 15 to 24 years                     60.0
                                 15 to 64 years                    128.3
                                 15 years and over                 134.5
                                 20 to 24 years                     16.7
...                                                                  ...
2021-02  Saskatchewan Males      55 years and over                  12.6
                                 60 to 64 years                      2.4
                                 65 to 69 years                      3.4
                                 65 years and over                   7.6
                                 70 years and over                   4.2

Labour force characteristics                        Participation rate  \
REF_DATE GEO          Sex        Age group
1976-01  Alberta      Both sexes 15 to 19 years                   54.1
                                 15 to 24 years                   65.4
                                 15 to 64 years                   70.6
                                 15 years and over                65.2
                                 20 to 24 years                   77.0
...                                                                ...
2021-02  Saskatchewan Males      55 years and over                46.7
                                 60 to 64 years                   64.7
                                 65 to 69 years                   33.2
                                 65 years and over                24.4
                                 70 years and over                19.5

Labour force characteristics                        Population  Unemployment  \
REF_DATE GEO          Sex        Age group
1976-01  Alberta      Both sexes 15 to 19 years          183.5          14.2
                                 15 to 24 years          362.3          24.6
                                 15 to 64 years         1154.8          44.2
                                 15 years and over      1276.7          44.2
                                 20 to 24 years          178.8          10.4
...                                                        ...           ...
2021-02  Saskatchewan Males      55 years and over       157.8           4.0
                                 60 to 64 years           36.0           2.3
                                 65 to 69 years           30.7           0.5
                                 65 years and over        85.5           0.9
                                 70 years and over        54.8           NaN

Labour force characteristics                        Unemployment rate
REF_DATE GEO          Sex        Age group
1976-01  Alberta      Both sexes 15 to 19 years                  14.3
                                 15 to 24 years                  10.4
                                 15 to 64 years                   5.4
                                 15 years and over                5.3
                                 20 to 24 years                   7.6
...                                                               ...
2021-02  Saskatchewan Males      55 years and over                5.4
                                 60 to 64 years                   9.9
                                 65 to 69 years                   4.9
                                 65 years and over                4.3
                                 70 years and over                NaN

[393492 rows x 10 columns]

In [25]:
simple_employment_data_age_sex[(simple_employment_data_age_sex['Sex']=='Males')
                               & (simple_employment_data_age_sex['GEO']=='Alberta')
                              & (simple_employment_data_age_sex['REF_DATE']=='2020-01')]

,REF_DATE,GEO,Labour force characteristics,Sex,Age group,VALUE
3839242,2020-01,Alberta,Population,Males,15 years and over,1745.0
3839243,2020-01,Alberta,Population,Males,15 to 24 years,268.7
3839244,2020-01,Alberta,Population,Males,25 years and over,1476.3
3839245,2020-01,Alberta,Population,Males,25 to 44 years,665.1
3839246,2020-01,Alberta,Population,Males,45 to 64 years,542.8
...,...,...,...,...,...,...
3839853,2020-01,Alberta,Employment rate,Males,55 to 59 years,77.0
3839854,2020-01,Alberta,Employment rate,Males,60 to 64 years,63.2
3839855,2020-01,Alberta,Employment rate,Males,65 years and over,22.5
3839856,2020-01,Alberta,Employment rate,Males,65 to 69 years,39.0
3839857,2020-01,Alberta,Employment rate,Males,70 years and over,12.8

## March 20th Meeting results

- Jon walked team through his code
- Team comisorated over complicated python garbage

### To do's

- Find the stat's canada data and occupation
- Plot something (anything, just get comfortable with the code)